/* ---------------------------
   LOGIN PAGE MAIN STYLING
---------------------------- */

body {
    background: #e6d5e4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Back Button */
.back-btn {
    font-size: 22px;
    margin: 25px 40px;
    cursor: pointer;
    font-weight: 500;
}

/* Login Wrapper */
.login-wrapper {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    padding: 10px;
}

.login-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* New Member Text */
.member-text {
    font-size: 22px;
    margin-bottom: 30px;
}

.member-text a {
    color: #2d4ed8;
    font-weight: 600;
    text-decoration: underline;
}

/* Labels */
label {
    font-size: 20px;
    display: block;
    margin-top: 25px;
    font-weight: 500;
}

/* Input Line Fields */
.input-line {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 0;
    font-size: 18px;
    background: transparent;
    outline: none;
}

/* Forgot Password */
.forgot {
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
    color: black;
    text-decoration: underline;
}

/* Login Button */
.login-btn {
    width: 100%;
    margin-top: 35px;
    background: #7588ff;
    color: white;
    padding: 18px 0;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
}

.login-btn:hover {
    background: #5b71ff;
}

/* ---------------------------
   DIVIDER (or sign up with)
---------------------------- */

.divider-container {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.divider-line {
    width: 180px;
    height: 1px;
    background-color: black;
}

.divider-container p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
    width: auto;
}

/* ---------------------------
   SOCIAL LOGIN ICONS
---------------------------- */

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 25px;
}

.social-icons i {
    font-size: 50px;
    color: #4a82f0;
    cursor: pointer;
    transition: 0.2s;
}

.social-icons i:hover {
    transform: scale(1.1);
}

/*Footer Section*/
.footer-section {
    background: #532f4d;
    color: #fff;
    padding: 40px 15px;
    font-family: Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-column {
    width: 22%;
    min-width: 150px;
}

.footer-column h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 2;
}

.footer-contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.6;
}

.footer-contact-item span {
    font-size: 30px;
}

.footer-line {
    width: 90%;
    height: 3px;
    background: #b58caf;
    margin: 40px 0;
    margin-left: 60px;
    margin-right: 100px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
}

.footer-bottom p {
    margin: 0;
    font-size: 20px;
    margin-left: 200px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-right: 400px;
}

.social-icons i {
    font-size: 26px;
    cursor: pointer;
}
